
@import url("_variables.css");

/* ////////// All ////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* ////////// Nav ////////// */

.toolbar {
    width: 100%;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-border); 
    position: absolute;
    align-content: center;
}
.toolbar * {
    margin: 5px 10px;
}
.toolbar a {
    border: 3px solid var(--color-hover);
    border-radius: 10%;
    text-decoration: none;
}
.toolbar a .btn {
    /* display: inline-block; */
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
    color: var(--color-text); 
}
.toolbar a:hover {
    background-color: var(--color-hover);
}
.toolbar a i {
    color: var(--color-text); 
    padding: 5px;
    font-size: 1.4rem;
    /* align-self: center; */
}
.toolbar .selected {
    background-color: var(--color-hover);
}
.toolbar .disabled {
    display: none;
}

/* ////////// Color Picker ////////// */

.toolbar .brush-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border: 3px solid var(--color-hover);
    border-radius: 4%;
    color: var(--color-text); 
}
.toolbar .brush-wrapper:hover {
    background-color: var(--color-hover);
}   
.toolbar .brush-wrapper #current-brush-size {
    align-self: center;
} 


/* ////////// Brush Size Slider ////////// */

.slider {
    
}

/* ////////// Canvas ////////// */

.container-toolbar {
    /* width: 100%; */
    /* height: 100vh; */
    /* border: 1px solid black; */
    /* display: block; */
    background-color: var(--color-outside-canvas);
    /* margin: 0 5px; */
}
#canvas {
    background-color: var(--color-white); 
    border: 1px solid var(--color-black);
    border-top: none;
}