
/* ////////// All ////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* ////////// Nav ////////// */


.toolbar {
    width: 100%;
    background-color: #27272d;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #4e5664; 
    position: absolute; 
}
.toolbar * {
    margin: 5px 10px;
}
.toolbar a {
    border: 3px solid #37373f;
    border-radius: 10%;
    text-decoration: none;
}
.toolbar a .btn {
    /* display: inline-block; */
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
    color: #98989b; 
}
.toolbar a:hover {
    background-color: #37373f;
}
.toolbar a i {
    color: #98989b; 
    padding: 5px;
    font-size: 1.4rem;
    /* align-self: center; */
}

/* ////////// Color Picker ////////// */

.toolbar .color-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border: 3px solid #37373f;
    border-radius: 2%;
    color: #98989b; 
}
.toolbar .color-wrapper:hover {
    background-color: #37373f;
}   
.toolbar .color-wrapper #current-brush-size {
    align-self: center;
} 

/* ////////// Brush Size Slider ////////// */



/* ////////// Canvas ////////// */

.container-toolbar {
    /* width: 100%; */
    /* height: 100vh; */
    /* border: 1px solid black; */
    /* display: block; */
    background-color: rgb(186, 213, 228);
    /* margin: 0 5px; */
}
#canvas {
    background-color: #fff; 
    border: 1px solid black;
    border-top: none;
}