
.menu {
    margin: 0 5%;
}

/* Menu Header */
.menu__header {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 15px;
}
.navbar__headerImage-large {
    max-width: 200px;
    max-height: 200px;
    margin: 0 0 40px 0;
}

/* Menu User profile */
#menu__avatar {
    margin: auto;
    margin-top: 30px;
}
.menu__name {
    margin-top: 30px;
    font-size: var(--font-size-large);
}
.menu__username {
    font-weight: normal;
    color: var(--dark-mode-accent); 
    font-size: 15px;
}
.menu__user-data {
    display: flex;
    margin: 0 10px;
}
.user__posts,
.user__followers,
.user__following {
    margin: 40px auto;
}
.user__posts p,
.user__followers p,
.user__following p {
    text-align: center;
}
.user-data {
    font-weight: normal; 
    color: var(--dark-mode-accent); 
    font-size: var(--font-size-small); 
    margin-top: 10px;
}


/* Menu Directory */
.menu__directory {
    margin: 10px 30px;
}
.menu__dir-feed,
.menu__dir-notif,
.menu__dir-settings,
.menu__dir-canvas,
.menu__dir-signup,
.menu__dir-login  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 10px;
    cursor: pointer;
    text-decoration: none;
}
.menu__dir-feed:visited,
.menu__dir-notif:visited,
.menu__dir-settings:visited,
.menu__dir-canvas:visited,
.menu__dir-signup:visited,
.menu__dir-login:visited  {
    color: inherit;
}
.menu__dir-feed .active,
.menu__dir-notif .active,
.menu__dir-settings .active,
.menu__dir-canvas .active,
.menu__dir-signup .active,
.menu__dir-login .active {
    color: var(--color-orange);
}
.menu__dir-feed i,
.menu__dir-notif i,
.menu__dir-settings i,
.menu__dir-canvas i,
.menu__logout i,
.menu__login i {
    margin-right: 25px;
    font-size: 25px; 
}
.menu__dir-signup a,
.menu__dir-login a {
    color: var(--color-black);
    text-decoration: none;
}
.menu__dir-signup a:hover,
.menu__dir-login a:hover {
    color: var(--color-blue);
}
.menu__dir-feed:hover i,
.menu__dir-notif:hover i,
.menu__dir-settings:hover i,
.menu__dir-canvas:hover i,
.menu__logout:hover i,
.menu__login:hover i {
    color: var(--color-blue); 
}
.menu__dir-feed h4,
.menu__dir-notif h4,
.menu__dir-settings h4,
.menu__dir-canvas h4,
.menu__logout h4,
.menu__login h4,
.menu__dir-signup h4,
.menu__dir-login h4,
h4 {
    font-weight: normal; 
    /* color: var(--color-black); */
    cursor: pointer;
}
.menu__auth {
    margin: 40px 10px;
    padding: 30px 0;
    border-top: 1px solid var(--dark-mode-dark-accent); 
}
.menu__logout,
.menu__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
}
.offline-menu {
    margin: 100px 10px;
}
.join-now h4 {
    cursor: default; 
}

@media only screen and (min-width: 1500px) {
    
}

@media only screen and (min-width: 1650px) {
   
}