
@import url("../../assests/Styles/_variables.css");

.auth-container {
    height: 100vh;
    width: 100%;
    background-color: var(--light-palette-light);
}

.auth {
    max-width: 600px;
    position: relative; 
    top: 20%;
    left: 30%;
    background-color: var(--light-palette-lightest);
    color: var(--color-black);
    border: 1px solid var(--light-palette-light);
    border-radius: 10px;
}
.auth__center-title {
    margin: 30px 0;
}

/* Card - Sign up, Log in */
.auth__card {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
}
.auth__card Input {
    color: var(--color-black);
    /* padding: 90px; */
    /* margin-bottom: 10px; */
}
.signup__login {
    text-align: center;
    margin-bottom: 20px;
}
.signup__login p .Link {
    color: var(--color-black);
    text-decoration: none; 
}
.signup__login p .Link:hover { 
    color: var(--color-blue); 
}