
/* Import DM Mono font */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,500&display=swap');

/* Colors */
:root {

    --color-outside-canvas: rgb(186, 213, 228);

    /* Navbar and Toolbar Colors */
    --color-bg: #27272d;
    --color-bg-light: #ebebeb;
    --color-white: #fff;
    --color-hover: #37373f;
    --color-border-bottom: #DEDEDE;
    --color-black: #000000;

    --c-nav: #4E5664;
    --c-gray: #DEDEDE;
    
    --gallery-bg: #f2f2f2;
    --post-bg: #ffffff;


    --color-border: #4e5664;
    
    
    
    --color-text: #98989b;
    --color-slider: #407693;
    --color-slider-light: #cee7f5;
    --color-slider-dark: #36657e;
    --color-disabled: rgb(32, 32, 32);

    --color-blue: #4e9bd4;
    --color-orange: #f16723;
    --color-yellow: #fbd20a;
    --color-pink: #f05f88;
    --color-beige: #ffe4b8;

    
}
/* Fonts */
:root {
    --font-fam: 'DM Mono', monospace;
    --font-small: 13px;
    --font-med: 15px;
    --font-large: 25px;
    --font-xl: 65px;
    --font-icon: 20px;
    /* font weights */
    --font-thin: 100;
    --font-normal: 300;
    --font-bold: 600;
    --font-bold-bold: 900;
}
:root {
    --font-fam: 'DM Mono', monospace;
}
/* Padding */
:root {
    --button-padding: 3px;
    --button-padding-more: 10px 13px;
    --button-height: 30px;
    --button-height-xl: 40px;
    --button-radius: 25px;
    --button-margin: 15px;

    --nav-padding: 15px;
    --menu-margin: 45px;

    --container-padding: 80px;

    --border-radius: 25px;
}